.banner {
  margin-top: 125px;
}
.banner__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 570px) {
  .banner__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
.banner__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  color: black;
  padding-bottom: 24px;
}
@media (max-width: 997px) {
  .banner__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 630px) {
  .banner__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
  }
}
@media (max-width: 570px) {
  .banner__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    width: 100%;
  }
}
.banner__desc {
  width: 482px;
  font-size: 24px;
  line-height: 34px;
  color: #1d2530;
  padding-bottom: 32px;
}
.banner__desc span {
  font-size: 24px;
  line-height: 34px;
  color: #685ed6;
}
@media (max-width: 997px) {
  .banner__desc span {
    font-size: 18px;
    line-height: 28px;
    width: 270px;
  }
}
@media (max-width: 630px) {
  .banner__desc span {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 997px) {
  .banner__desc {
    font-size: 18px;
    line-height: 28px;
    width: 270px;
  }
}
@media (max-width: 630px) {
  .banner__desc {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 570px) {
  .banner__desc {
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
  }
}
.banner__right {
  padding-bottom: 60px;
}
.banner__right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__button {
  background: #685ed6;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 12px 32px;
  width: 168px;
  cursor: pointer;
}
@media (max-width: 630px) {
  .banner__button {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 18px;
  }
}
@media (max-width: 570px) {
  .banner__button {
    font-size: 18px;
    line-height: 24px;
    padding: 10px 18px;
  }
}

.color__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  color: #685ed6;
}
@media (max-width: 997px) {
  .color__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 630px) {
  .color__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
  }
}
@media (max-width: 570px) {
  .color__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
  }
}

.chat {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.chat img {
  text-align: center;
}
.chat__container {
  position: relative;
}
.chat__title {
  font-weight: 800;
  font-size: 46px;
  line-height: 64px;
  font-feature-settings: "salt" on, "liga" off;
  color: #1d2530;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 5px;
}
@media (max-width: 768px) {
  .chat__title {
    font-size: 32px;
    line-height: 48px;
  }
}
.chat__phones {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 25px;
}
@media (max-width: 768px) {
  .chat__phones {
    text-align: center;
    gap: 38px;
  }
}
.chat__phone {
  margin-top: 56px;
  width: 240px;
}
@media (max-width: 768px) {
  .chat__phone {
    margin-top: 76px;
    padding-bottom: 124px;
  }
  .chat__phone img {
    width: 100%;
  }
  .chat__phone img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.chat__phone__desc {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #1d2530;
  padding-top: 4px;
  padding-bottom: 16px;
}
.chat .phone__number {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  padding: 8px 27px 7px 27px;
  color: #685ed6;
  text-align: center;
  background: #f1e4ff;
  border-radius: 50%;
  width: 72px;
  height: 72px;
}
.chat .phone__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #1d2530;
  padding-top: 16px;
}
.chat .phone2 {
  width: 240px;
  padding-top: 156px;
  padding-bottom: 124px;
}
@media (max-width: 768px) {
  .chat .phone2 {
    padding-top: 76px;
    padding-bottom: 124px;
  }
  .chat .phone2 img {
    width: 100%;
  }
}
.chat .phone2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chat .phone2 .chat__desc {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #1d2530;
}
@media (max-width: 768px) {
  .chat .phone2 .chat__desc {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 58px;
  }
}

.chat__desc {
  padding-bottom: 58px;
  font-size: 16px;
  line-height: 26px;
}

.slider {
  display: none;
}
@media (max-width: 640px) {
  .slider {
    display: block;
    text-align: center;
    padding-top: 24px;
  }
}

.header {
  max-width: 1440px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__buttons {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 710px) {
  .header__buttons {
    display: none;
  }
}

.logo {
  padding-top: 34px;
}
.logo img {
  margin-bottom: 5px;
}
.logo__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 28.1106px;
  line-height: 21px;
  color: #1d2530;
  margin-left: 2px;
}

.enter__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #1d2530;
  letter-spacing: 1px;
  padding: 10px 20px;
  background-color: #f1e4ff;
  border-radius: 6px;
  cursor: pointer;
}
@media (max-width: 860px) {
  .enter__button {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 8px;
  }
}

.registr__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #ffffff;
  letter-spacing: 1px;
  padding: 10px 20px;
  background: #685ed6;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  cursor: pointer;
}
@media (max-width: 860px) {
  .registr__button {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 8px;
  }
}

.navbar {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .openMenu {
  display: block;
  font-size: 2rem;
  margin-top: 20px;
  display: none;
  cursor: pointer;
}
@media (max-width: 710px) {
  .navbar .openMenu {
    display: block;
  }
}
.navbar .mainMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
}
@media (max-width: 710px) {
  .navbar .mainMenu {
    display: flex;
    background-color: #1d2530;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: top 1s ease 0s;
    display: none;
  }
}
.navbar .mainMenu li a {
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  transition: 0.2s ease;
  color: #1d2530;
}
@media (max-width: 860px) {
  .navbar .mainMenu li a {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 710px) {
  .navbar .mainMenu li a {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
  }
}
.navbar .mainMenu li a:hover {
  color: #685ed6;
  font-weight: 700;
}
.navbar .mainMenu .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.navbar .mainMenu .closeMenu {
  display: none;
}
@media (max-width: 710px) {
  .navbar .mainMenu .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    color: #fff;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.online {
  background: rgba(242, 247, 255, 0.5);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  max-width: 1440px;
  margin: 0 auto;
}
.online__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 665px) {
  .online__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.online__left {
  padding-top: 96px;
  padding-bottom: 183px;
}
@media (max-width: 877px) {
  .online__left {
    padding-top: 160px;
  }
}
.online__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 32px;
  color: #1d2530;
}
@media (max-width: 877px) {
  .online__title {
    font-size: 32px;
    line-height: 40px;
  }
}
.online__wrap {
  padding-top: 68px;
}
@media (max-width: 877px) {
  .online__wrap {
    padding-top: 30px;
  }
}
.online__invatation {
  display: flex;
  align-items: center;
  padding-bottom: 49px;
  gap: 28px;
}
.online__right {
  padding-top: 73px;
  padding-bottom: 86px;
}
@media (max-width: 877px) {
  .online__right {
    padding-top: 0;
  }
}
.online__right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.invation__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #1d2530;
}
@media (max-width: 877px) {
  .invation__title {
    font-size: 20px;
    line-height: 32px;
  }
}
.invation__desc {
  font-size: 16px;
  line-height: 26px;
  color: #1d2530;
}
@media (max-width: 877px) {
  .invation__desc {
    font-size: 16px;
    line-height: 26px;
  }
}

.review {
  background: rgba(242, 247, 255, 0.5);
  max-width: 1440px;
  margin: 0 auto;
}
.review__title {
  font-weight: 800;
  font-size: 46px;
  line-height: 64px;
  color: #1d2530;
  padding-top: 17px;
  text-align: center;
  display: inline-block;
}
.review__cards {
  width: 540px;
}
.review__card {
  background: #ebebeb;
  border-radius: 6px;
}
.review__suptitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #18191f;
  padding: 32px 0 8px 0;
}
.review__subtitle {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #18191f;
  padding: 0 32px 56px 32px;
}
.review__ava {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 28px;
  gap: 16px;
}

.cards__wrapper {
  padding-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.ava__fullname {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #1d2530;
}
.ava__site {
  font-size: 14px;
  line-height: 24px;
  color: #1d2530;
}

.sliderim {
  text-align: center;
  padding-top: 34px;
  padding-bottom: 80px;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backtag {
  display: flex;
  justify-content: right;
}

.send {
  max-width: 1440px;
  margin: 0 auto;
  background: #e5e5e5;
}
@media (max-width: 640px) {
  .send {
    margin-bottom: 54px;
  }
}
.send__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  gap: 34px;
}
@media (max-width: 640px) {
  .send__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #685ed6;
    border-radius: 6px;
    height: 100%;
  }
}
.send__back {
  padding-top: 90px;
  margin-bottom: 90px;
}
.send__back img {
  width: 105%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 990px) {
  .send__back img {
    width: 100%;
    height: 588px;
  }
}
@media (max-width: 640px) {
  .send__back img {
    width: 100%;
    height: 467px;
    display: none;
  }
}
.send__left {
  margin-left: -50px;
  margin-right: 50px;
  position: absolute;
  left: 110px;
  bottom: 90px;
}
@media (max-width: 830px) {
  .send__left {
    margin-left: -80px;
  }
}
@media (max-width: 640px) {
  .send__left {
    position: relative;
    top: -140px;
    margin-right: 95px;
  }
}
.send__right {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  right: 187px;
  margin-right: -80px;
  display: flex;
}
@media (max-width: 640px) {
  .send__right {
    margin-right: 0px;
  }
}
.send__title {
  font-weight: 800;
  font-size: 33px;
  line-height: 41px;
  font-feature-settings: "salt" on, "liga" off;
  color: #ffffff;
}
@media (max-width: 830px) {
  .send__title {
    font-size: 24px;
    line-height: 32px;
  }
}
.send__input {
  display: flex;
  padding-top: 32px;
  padding-bottom: 40px;
}
@media (max-width: 640px) {
  .send__input {
    width: 100px;
  }
}
.send__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding: 15px 24px;
  background: #18191f;
  border-radius: 0px 5px 5px 0px;
}
@media (max-width: 640px) {
  .send__button {
    font-size: 12px;
    line-height: 16px;
  }
}

.input {
  background: #f4f5f7;
  border-radius: 5px 0px 0px 5px;
  padding: 13px 16px;
  font-size: 15px;
  line-height: 24px;
  color: #474a57;
  margin-right: -4px;
}
@media (max-width: 640px) {
  .input {
    padding: 5px 8px;
    font-size: 12px;
    line-height: 16px;
  }
}

.content__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}
@media (max-width: 640px) {
  .content__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
  }
}

.tarif {
  margin-bottom: 100px;
}
.tarif__container {
  padding-top: 100px;
}
.tarif__title {
  font-weight: 800;
  font-size: 46px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #1d2530;
}
@media (max-width: 780px) {
  .tarif__title {
    font-size: 32px;
    line-height: 40px;
  }
}
.tarif__desc {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "salt" on, "liga" off;
  color: #1d2530;
  padding-top: 16px;
  text-align: center;
}
@media (max-width: 780px) {
  .tarif__desc {
    font-size: 20px;
    line-height: 28px;
  }
}
.tarif__cards {
  padding-top: 40px;
  display: flex;
  margin-left: 30px;
}
.tarif__card {
  display: flex;
  flex-direction: column;
  width: 330px;
  align-items: center;
  justify-content: center;
  background: #fcfeff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}
.tarif__card:not(:last-child) {
  margin-right: 30px;
}
.tarif__status {
  font-weight: 800;
  font-size: 24px;
  line-height: 48px;
  color: #685ed6;
  padding-top: 7px;
  padding-bottom: 6px;
  background: rgba(104, 94, 214, 0.05);
  width: 100%;
  text-align: center;
}

.card__title {
  padding-top: 46px;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: #1d2530;
  width: 255px;
}
.card__price {
  padding-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1d2530;
}
.card__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #ffffff;
  padding: 12px 66px;
  background: #685ed6;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin-top: 46px;
  margin-bottom: 50px;
  cursor: pointer;
}

.slider {
  display: none;
}
@media (max-width: 640px) {
  .slider {
    display: block;
    text-align: center;
    padding-top: 24px;
  }
}

.footer {
  background: #1d2530;
  max-width: 1440px;
  margin: 0 auto;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  padding-top: 104px;
  padding-bottom: 10px;
}
.footer__items {
  padding-top: 104px;
  padding-bottom: 78px;
}
@media (max-width: 640px) {
  .footer__items {
    padding-bottom: 0;
  }
}

.first__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #f4f5f7;
  padding-bottom: 32px;
}

.item {
  font-size: 16px;
  line-height: 26px;
  color: #eeeff4;
  padding-bottom: 12px;
}

.logo__wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 34px;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: #ffffff;
}
.items__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 126px;
}

.footer__bottom {
  background: #141b23;
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
  padding: 25px 0 23px 0;
}

@media (max-width: 640px) {
  .item2 {
    padding-top: 0px;
    padding-top: 104px;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url(../gilroy/Gilroy-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjusst: 100%;
  -moz-text-size-adjusst: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Gilroy";
}

input,
button,
textarea {
  font-family: inherit;
}

input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-innesr {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  background: #f8f9fb;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex: 0 0 auto;
}