.banner {
  margin-top: 125px;
  // .banner__container

  &__container {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    // gap: 50px;

    @media (max-width: 570px) {
        display: flex;
        // justify-content: center;
        // align-items: center;
        flex-direction: column;
        gap: 50px;
    }
  }

  // .banner__left

  &__left {
  }

  // .banner__title

  &__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: black;
    padding-bottom: 24px;

    @media (max-width: 997px) {
      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
    }
    @media (max-width: 630px) {
      font-weight: 600;
      font-size: 28px;
      line-height: 35px;
    }

    @media (max-width: 570px) {
      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
      width: 100%;
    }
  }

  // .banner__desc

  &__desc {
    width: 482px;
    font-size: 24px;
    line-height: 34px;
    color: #1d2530;
    padding-bottom: 32px;

    span {
      font-size: 24px;
      line-height: 34px;
      color: #685ed6;

      @media (max-width: 997px) {
        font-size: 18px;
        line-height: 28px;
        width: 270px;
      }
  
      @media (max-width: 630px) {
        font-size: 16px;
        line-height: 22px;
      }
    }

    @media (max-width: 997px) {
      font-size: 18px;
      line-height: 28px;
      width: 270px;
    }

    @media (max-width: 630px) {
      font-size: 16px;
      line-height: 22px;
    }

    @media (max-width: 570px) {
      font-weight: 800;
      font-size: 18px;
      line-height: 28px;
      width: 100%;
    }

  }

  // .banner__right

  &__right {
    padding-bottom: 60px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .banner__button

  &__button {
    background: #685ed6;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    padding: 12px 32px;
    width: 168px;
    cursor: pointer;

    @media (max-width: 630px) {
      font-size: 14px;
      line-height: 20px;
      padding: 8px 18px;
    }
    @media (max-width: 570px) {
      font-size: 18px;
      line-height: 24px;
      padding: 10px 18px;
    }
  }
}
.container {
}
.color {
  // .color__title

  &__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: #685ed6;

    @media (max-width: 997px) {
      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
    }

    @media (max-width: 630px) {
      font-weight: 600;
      font-size: 28px;
      line-height: 35px;
    }

    @media (max-width: 570px) {
      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
    }
  }
}
.button {
}
