.footer {
  //   margin-top: 90px;
  background: #1d2530;
  max-width: 1440px;
  margin: 0 auto;
  // .footer__logo

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    padding-top: 104px;
    padding-bottom: 10px;
  }

  // .footer__items

  &__items {
    padding-top: 104px;
    // width: 216px;
    padding-bottom: 78px;

    

    @media (max-width: 640px) {
      padding-bottom: 0;
    }
  }
}
.first {
  // .first__item

  &__item {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #f4f5f7;
    padding-bottom: 32px;
  }
}
.item {
  font-size: 16px;
  line-height: 26px;
  color: #eeeff4;
  padding-bottom: 12px;
}

.logo__wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 34px;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: #ffffff;

  @media (max-width: 925px) {
    // margin-right: 320px;
  }

  &__text {
  }
}

.items__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 126px;
}

.footer__bottom {
  background: #141b23;
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
  padding: 25px 0 23px 0;
}

.item2 {

  @media (max-width: 640px) {
    padding-top: 0px;
    padding-top: 104px;
  }
}
