.chat {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;

  img {
    text-align: center;
  }
  // .chat__container

  &__container {
    position: relative;
    // padding-top: 100px;
  }

  // .chat__title

  &__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 64px;
    font-feature-settings: "salt" on, "liga" off;
    color: #1d2530;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 5px;

    // position: absolute;
    // top: -850px;
    // left: 0;
    // z-index: 3;
    // margin-bottom: 56px;

    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 48px;
    }
  }

  // .chat__phones

  &__phones {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 25px;

    @media (max-width: 768px) {
      // display: flex;
      // justify-content: space-between;
      text-align: center;
      gap: 38px;
    }

    // position: absolute;
    // top: -800px;
    // left: 0;
    // z-index: 3;
  }

  // .chat__phone

  &__phone {
    margin-top: 56px;
    width: 240px;

    @media (max-width: 768px) {
      margin-top: 76px;
      padding-bottom: 124px;
      img {
        width: 100%;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    // .chat__desc

    &__desc {
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #1d2530;
      padding-top: 4px;
      padding-bottom: 16px;
    }
  }
  .container {
  }
  .phone {
    // .phone__number

    &__number {
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      padding: 8px 27px 7px 27px;
      color: #685ed6;
      text-align: center;

      background: #f1e4ff;
      border-radius: 50%;
      width: 72px;
      height: 72px;
      // margin-left: 100px;
    }

    // .phone__title

    &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      font-feature-settings: "salt" on, "liga" off;
      color: #1d2530;
      padding-top: 16px;
    }
  }

  .phone2 {
    width: 240px;
    padding-top: 156px;
    padding-bottom: 124px;

    @media (max-width: 768px) {
      padding-top: 76px;
      padding-bottom: 124px;
      img {
        // width: 220px;
        // height: 460px;
        width: 100%;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    .chat__desc {
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #1d2530;

      @media (max-width: 768px) {
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 58px;
      }
    }
  }
}

.chat__desc {
  padding-bottom: 58px;
  font-size: 16px;
  line-height: 26px;
}

.slider {
  display: none;
  @media (max-width: 640px) {
    display: block;
    text-align: center;
    padding-top: 24px;
  }
}
