.wrapper {
  background: #f8f9fb;
  // display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex: 0 0 auto;
}
