.header {
  max-width: 1440px;
  // .header__container

  &__container {
    // margin-bottom: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__buttons

  &__buttons {
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @media (max-width: 710px) {
      display: none;
    }
  }
}
.container {
}
.logo {
  padding-top: 34px;

  img {
    margin-bottom: 5px;
  }
  // .logo__text

  &__text {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 28.1106px;
    line-height: 21px;
    color: #1d2530;
    margin-left: 2px;
  }
}

.enter {
  // .enter__button

  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: "salt" on, "liga" off;
    color: #1d2530;
    letter-spacing: 1px;

    padding: 10px 20px;
    background-color: #f1e4ff;
    border-radius: 6px;
    cursor: pointer;

    @media (max-width: 860px) {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 8px;
    }
  }
}
.registr {
  // .registr__button

  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: "salt" on, "liga" off;
    color: #ffffff;
    letter-spacing: 1px;

    padding: 10px 20px;
    background: #685ed6;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    cursor: pointer;

    @media (max-width: 860px) {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 8px;
    }
  }
}

.navbar {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .openMenu {
    display: block;
    font-size: 2rem;
    margin-top: 20px;
    display: none;
    cursor: pointer;

    @media (max-width: 710px) {
      display: block;
    }
  }

  .mainMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
    // display: none;

    @media (max-width: 710px) {
      display: flex;
      background-color: #1d2530;
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      transition: top 1s ease 0s;
      display: none;
    }

    li a {
      display: inline-block;
      font-size: 20px;
      line-height: 26px;
      transition: 0.2s ease;
      color: #1d2530;

      @media (max-width: 860px) {
        font-size: 16px;
        line-height: 20px;
      }

      @media (max-width: 710px) {
        font-size: 18px;
        line-height: 26px;
        color: #fff;
      }
    }

    li a:hover {
      color: #685ed6;
      font-weight: 700;
    }

    .wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }

    .closeMenu {
      display: none;

      @media (max-width: 710px) {
        font-size: 2rem;
        display: none;
        cursor: pointer;
        color: #fff;
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }
}
