.online {
  background: rgba(242, 247, 255, 0.5);
  backdrop-filter: blur(50px);
  max-width: 1440px;
  margin: 0 auto;
  // .online__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 665px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  // .online__left

  &__left {
    padding-top: 96px;
    padding-bottom: 183px;

    @media (max-width: 877px) {
      padding-top: 160px;
    }
  }

  // .online__title

  &__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 32px;
    color: #1d2530;

    @media (max-width: 877px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  // .online__wrap

  &__wrap {
    padding-top: 68px;
    @media (max-width: 877px) {
      padding-top: 30px;
    }
  }

  // .online__invatation

  &__invatation {
    display: flex;
    // justify-content: center;
    align-items: center;
    padding-bottom: 49px;
    gap: 28px;
  }

  // .online__right

  &__right {
    padding-top: 73px;
    padding-bottom: 86px;

    @media (max-width: 877px) {
      padding-top: 0;
    }

    img {
      width: 100%;
      // height: 100%;
      object-fit: cover;
    }
  }
}
.container {
}
.invation {
  // .invation__img

  &__img {
  }

  // .invation__text

  &__text {
  }

  // .invation__title

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #1d2530;

    @media (max-width: 877px) {
      font-size: 20px;
      line-height: 32px;
    }
  }

  // .invation__desc

  &__desc {
    font-size: 16px;
    line-height: 26px;
    color: #1d2530;

    @media (max-width: 877px) {
      font-size: 16px;
      line-height: 26px;
    }
  }
}
