.review {
  background: rgba(242, 247, 255, 0.5);
  max-width: 1440px;
  margin: 0 auto;
  // .review__container

  &__container {
  }

  // .review__title

  &__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 64px;
    color: #1d2530;
    padding-top: 17px;
    text-align: center;
    display: inline-block;
    // margin-right: 220px;
    // margin-left: 350px;

    // display: inline-block;
  }

  // .review__cards

  &__cards {
    width: 540px;
  }

  // .review__card

  &__card {
    background: #ebebeb;
    border-radius: 6px;
  }

  // .review__suptitle

  &__suptitle {
    // font-family: "Inter";
    // font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #18191f;
    padding: 32px 0 8px 0;
  }

  // .review__subtitle

  &__subtitle {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #18191f;
    padding: 0 32px 56px 32px;
  }

  // .review__ava

  &__ava {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
    gap: 16px;
  }
}
.container {
}
.cards {
  // .cards__wrapper

  &__wrapper {
    padding-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr; //repeat(auto-fit, minmax(540px, 1fr));
    gap: 30px;
  }
}
.ava {
  // .ava__img

  &__img {
  }

  // .ava__name

  &__name {
  }

  // .ava__fullname

  &__fullname {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #1d2530;
  }

  // .ava__site

  &__site {
    font-size: 14px;
    line-height: 24px;
    color: #1d2530;
  }
}

.sliderim {
    text-align: center;
    padding-top: 34px;
    padding-bottom: 80px;
}
.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 220px;
}

.backtag {
    display: flex;
    justify-content: right;
    // margin-right: -420px;
}

