.send {
  max-width: 1440px;
  margin: 0 auto;
  //   margin-bottom: 90px;
  background: #e5e5e5;
  // .send__container

  @media (max-width: 640px) {
    margin-bottom: 54px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    gap: 34px;

    @media (max-width: 640px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: #685ed6;
      border-radius: 6px;
      height: 100%;
    }
  }

  // .send__back

  &__back {
    padding-top: 90px;
    margin-bottom: 90px;
    img {
      width: 105%;
      object-fit: cover;

      @media (max-width: 990px) {
        width: 100%;
        height: 588px;
      }
      @media (max-width: 640px) {
        width: 100%;
        height: 467px;
        display: none;
      }
    }
  }

  // .send__left

  &__left {
    margin-left: -50px;
    margin-right: 50px;
    position: absolute;
    left: 110px;
    bottom: 90px;

    @media (max-width: 830px) {
      margin-left: -80px;
    }
    @media (max-width: 640px) {
      //   margin-left: -50px;
      //   margin-right: 50px;
      //   position: absolute;
      //   left: 110px;
      //   bottom: 90px;
      //   top: 0;
      position: relative;
      top: -140px;
      margin-right: 95px;
    }
  }

  // .send__right

  &__right {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    right: 187px;
    margin-right: -80px;
    display: flex;

    @media (max-width: 830px) {
      //   margin-right: -160px;
    }

    @media (max-width: 640px) {
      margin-right: 0px;
    }
  }

  // .send__title

  &__title {
    font-weight: 800;
    font-size: 33px;
    line-height: 41px;
    font-feature-settings: "salt" on, "liga" off;
    color: #ffffff;

    @media (max-width: 830px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  // .send__input

  &__input {
    display: flex;
    padding-top: 32px;
    padding-bottom: 40px;

    @media (max-width: 640px) {
      width: 100px;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    padding: 15px 24px;
    background: #18191f;
    border-radius: 0px 5px 5px 0px;

    @media (max-width: 640px) {
    //   padding: 5px 8px;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.input {
  background: #f4f5f7;
  border-radius: 5px 0px 0px 5px;
  padding: 13px 16px;
  font-size: 15px;
  line-height: 24px;
  color: #474a57;
  margin-right: -4px;

  @media (max-width: 640px) {
    padding: 5px 8px;
    font-size: 12px;
    line-height: 16px;
  }
}
.container {
}

.content__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;

  @media (max-width: 640px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:0px;
  }
}
