.tarif {
  margin-bottom: 100px;
  // .tarif__container

  &__container {
    padding-top: 100px;
  }

  // .tarif__title

  &__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 64px;
    text-align: center;
    font-feature-settings: "salt" on, "liga" off;
    color: #1d2530;

    @media (max-width: 780px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  // .tarif__desc

  &__desc {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: "salt" on, "liga" off;
    color: #1d2530;
    padding-top: 16px;
    text-align: center;

    @media (max-width: 780px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  // .tarif__cards

  &__cards {
    padding-top: 40px;
    display: flex;
    // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-left: 30px;
  }

  // .tarif__card

  &__card {
    display: flex;
    flex-direction: column;
    width: 330px;
    align-items: center;
    justify-content: center;
    background: #fcfeff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
  }

  &__card:not(:last-child) {
    margin-right: 30px;
  }

  // .tarif__status

  &__status {
    font-weight: 800;
    font-size: 24px;
    line-height: 48px;
    color: #685ed6;
    padding-top: 7px;
    padding-bottom: 6px;
    background: rgba(104, 94, 214, 0.05);
    width: 100%;
    text-align: center;
  }
}
.container {
}
.card {
  // .card__title

  &__title {
    padding-top: 46px;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #1d2530;
    width: 255px;
  }

  // .card__price

  &__price {
    padding-top: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1d2530;
  }

  // .card__button

  &__button {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: "salt" on, "liga" off;
    color: #ffffff;
    padding: 12px 66px;

    background: #685ed6;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    margin-top: 46px;
    margin-bottom: 50px;
    cursor: pointer;
  }
}
.button {
}

// .tarif__dot {
//   text-align: center;
//   padding-top: 24px;
// }

.slider {
  display: none;
  @media (max-width: 640px) {
    display: block;
    text-align: center;
    padding-top: 24px;
  }
}
